@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font family CSS variables for NativeWind */
@layer base {
    * {
        --font-heading: 'SpaceGrotesk-Bold';
        --font-body: 'SpaceMono';
        --font-mono: 'SpaceMono';
    }
}